<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Wine Quality Classification</title>
    <meta
      name="description"
      content="Wine quality classification problem | Random Forest, Extra Trees"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <div
      class="min-h-screen bg-gray-300 w-full flex"
      style="
        background-image: url(https://multimedia.comunitatvalenciana.com/DD6BA9D5FBEE4CADB992B8428C38E1E2/img/B5526D2A18FF4900B47C8267C9D82EEF/CV_-bodega_aranleon-1920x1080.jpg?responsive);
        background-size: cover;
      "
    >
      <div
        style="width: 800px"
        class="bg-white min-h-full border-4 border-white-400 shadow-inner bg-opacity-75 m-8 rounded-xl shadow-2xl flex items-center justify-center"
      >
        <div>
          <h1 class="mx-16 text-xl text-indigo-800 uppercase font-semibold">
            Fill wine quality metrices and <br />
            we will rank it!
          </h1>
          <!--  
            fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol

           -->
          <form
            method="POST"
            action="/"
            class="mx-12 my-10 flex flex-col space-y-4 items-start w-full"
          >
            <input
              class="px-3 py-2 outline-none w-5/6 rounded-md apperiance-none ring-indigo-400 ring-2 focus:ring-4"
              type="number"
              name="fixed acidity"
              step="any"
              required
              placeholder="Fixed acidity"
            />
            <input
              class="px-3 py-2 outline-none w-5/6 rounded-md apperiance-none ring-indigo-400 ring-2 focus:ring-4"
              type="number"
              name="volatile acidity"
              step="any"
              required
              placeholder="Volatile acidity"
            />
            <input
              class="px-3 py-2 outline-none w-5/6 rounded-md apperiance-none ring-indigo-400 ring-2 focus:ring-4"
              type="number"
              name="citric acid"
              step="any"
              required
              placeholder="Citric acid"
            />
            <input
              class="px-3 py-2 outline-none w-5/6 rounded-md apperiance-none ring-indigo-400 ring-2 focus:ring-4"
              type="number"
              name="residual sugar"
              step="any"
              required
              placeholder="Residual sugar"
            />
            <input
              class="px-3 py-2 outline-none w-5/6 rounded-md apperiance-none ring-indigo-400 ring-2 focus:ring-4"
              type="number"
              name="chlorides"
              step="any"
              required
              placeholder="Chlorides"
            />
            <input
              class="px-3 py-2 outline-none w-5/6 rounded-md apperiance-none ring-indigo-400 ring-2 focus:ring-4"
              type="number"
              name="free sulfur dioxide"
              step="any"
              required
              placeholder="Free sulfur dioxide"
            />
            <input
              class="px-3 py-2 outline-none w-5/6 rounded-md apperiance-none ring-indigo-400 ring-2 focus:ring-4"
              type="number"
              name="total sulfur dioxide"
              step="any"
              required
              placeholder="Total sulfur dioxide"
            />
            <input
              class="px-3 py-2 outline-none w-5/6 rounded-md apperiance-none ring-indigo-400 ring-2 focus:ring-4"
              type="number"
              name="density"
              step="any"
              required
              placeholder="Density"
            />
            <input
              class="px-3 py-2 outline-none w-5/6 rounded-md apperiance-none ring-indigo-400 ring-2 focus:ring-4"
              type="number"
              name="pH"
              step="any"
              required
              placeholder="pH"
            />
            <input
              class="px-3 py-2 outline-none w-5/6 rounded-md apperiance-none ring-indigo-400 ring-2 focus:ring-4"
              type="number"
              name="sulphates"
              step="any"
              required
              placeholder="Sulphates"
            />
            <input
              class="px-3 py-2 outline-none w-5/6 rounded-md apperiance-none ring-indigo-400 ring-2 focus:ring-4"
              type="number"
              name="alcohol"
              step="any"
              required
              placeholder="Alcohol"
            />
            <button
              type="submit"
              class="px-5 py-3 bg-indigo-600 text-lg rounded-lg text-white"
            >
              Predict!
            </button>
          </form>
        </div>
      </div>
      <div class="w-full min-h-screen flex items-center justify-center">
        {% if res %}
        <div>
          <div class="flex items-center -mb-8">
            <div
              class="px-16 -mr-12 py-3 border-8 border-white-600 rounded-full bg-white"
            >
              <h2 class="text-indigo-700 text-2xl">
                Your wine quality according to <br />
                <b>RandomForest</b>
              </h2>
            </div>
            <div
              class="w-72 border-8 -ml-2 border-white-600 h-72 flex text-indigo-800 font-semibold items-center justify-center text-9xl rounded-full bg-white"
            >
              {{ res[0][0] }}
            </div>
          </div>
          <div class="flex items-center -mt-8">
            <div
              class="w-72 relative z-10 border-8 -mr-2 border-white-600 h-72 flex text-indigo-800 font-semibold items-center justify-center text-9xl rounded-full bg-white"
            >
              {{ res[1][0] }}
            </div>
            <div
              class="px-16 -ml-12 py-3 border-8 border-white-600 rounded-full bg-white"
            >
              <h2 class="text-indigo-700 text-2xl">
                Your wine quality according to <br />
                <b>ExtraTrees</b>
              </h2>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </body>
</html>
